@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,600&family=Syne:wght@700&display=swap');

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Syne', sans-serif;
 */
body {
    margin: 0;
    background-color: hsl(0, 0%, 1%);
    overflow: hidden;
}
.screen {
    background-image: url("resources/vhs.gif");
    background-size: 100% auto;
    background-blend-mode: overlay;
    opacity: .25;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
 }
.main {
    color: #f1f1f1;
    height: 80vh;
}
.main h1 {
    font-family: 'Syne', sans-serif;
    margin: 0;
    font-size: 1.7em;
}
.main p {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    width: 70%;
}
.top {
    height: 7vh;
    background-image: url(resources/heads.gif);
    opacity: .2;
    background-size: 100% auto;
}
.btm {
    height: 13vh;
    background-image: url(resources/heads.gif);
    opacity: .05;
}
.grid-cont {
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
}
.name h1 {
    font-size: 2em;
}
.name {   
    padding: 1em 0 0 0.75em;
}
.nickname h1 {
    font-size: 2em;
}
.nickname {
    grid-row-start: 2;
    padding-left: 0.75em;
}
.cssub {
    grid-row-start: 3;
    grid-column-start: 2;
}
.gesub {
    grid-row-start: 3;
    grid-column-start: 3;
}
.proglang {
    grid-row-start: 4;
    grid-column-start: 2;
}
.food {
    grid-row-start: 4;
    grid-column-start: 3;
}

.bg {
    position: absolute;
    z-index: -2;
    height: 80vh;
    width: 100vw;
}
.marble {
    background-image: url(resources/marble.png);
    height: 80vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    background-size: 100% auto;
}

/* code from https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter p{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
      typing 2.5s steps(25, end),
      blink-caret .75s step-end 5;
  }
.fade {
    animation: fade-in ease-in 6.75s;
}
.fade:hover {
    color: #38ca3a;
    transition-duration: .5s;
    cursor: default;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #21af24; }
  }

  @keyframes fade-in {
    0% { opacity:0; }
    70% { opacity:0; }
    100% { opacity:1; }
  }

  